@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.cover-back-color {
  background-color: lightgray;
  color: black;
  opacity: 0.7;
}

.btn-buy {
  color: white;
  background-color: rgb(230, 141, 8);
  width: 100px;
  font-weight: 600;
}
.bg-coustomers-color {
  background-color: rgb(228, 227, 227);
  opacity: 0.9;
}
